.head{
}
.head > h1{
    font-size: 20px;
    color: #3333ff;
    text-align: center;
    padding-top: 20px; 
}

.wrapper{
    margin: 50px auto;
    width: 600px;
    height: 600px;
    background-color:#ccccff;
}
#c{
    margin-top: 50px;
    margin-left: 30px; 
    float: left; 
    width: 300px;
    height: 300px;
    background-color: white; 

}
.menu{
    float: right;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    margin-right: 20px;
    background-color:#cccccc; 
}
.menu > h1{
    font-size: 15px;
    color:#000033; 
    text-align: center;
}
.option1{

}
.buttons{
    width: 300px;
    height: 80px; 
    float: left;
    margin-left: 30px; 
    margin-top: 20px; 
}
#load{
    height: 30px;
    width: 60px;
    margin-top: 25px;
    margin-left: 30px;
    float:left;
}
#save{
    height: 30px;
    width: 60px;
    margin-left: 10px;
}
#i{
    float: left;
    height: 70px;
    width: 70px; 
}
#getval{
    margin-top:10px;
}

